<div class="container">
  <div class="money-per-hour-input">
    <ms-input
      [disabled]="started"
      type="number"
      [value]="moneyPerHour"
      (valueChanges)="moneyPerHour = $event"
      placeholder="30"
    ></ms-input>
  </div>

  <div class="begin-button">
    <ms-button text="Começar" *ngIf="!started" (click)="start()"></ms-button>
    <ms-button text="Parar" *ngIf="started" (click)="stop()"></ms-button>
  </div>

  <div class="money-made-up-to-now">
    <h1 class="cronometer">
      {{ timeSpentMs / 1000 / 60 / 60 | number: '2.0-0' }}:{{
        timeSpentMs / 1000 / 60 | number: '2.0-0'
      }}:{{ timeSpentMs / 1000 | number: '2.0-0' }}
    </h1>
    -
    <h2 class="value">R$ {{ moneyMade | number: '1.2-2' }}</h2>
  </div>
</div>
